header {
    z-index: 10;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
}

#boxCarte {
    width: 80%;
    min-height: 680px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carteMedia {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.50);
}

.cercleMedia {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.cercleMedia > img {
    width: 20px;
}

.ajout {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoneBtn {
    width: 200px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.zone1 {
    height: 66px;
    position: relative;
}

.zoneText {
    position: relative;
    width: 130px;
    height: 66px;
    background-color: rgba(255, 255, 255, 0.521);
}

.zoneText > h3 {
    margin: 0;
    padding: 18px 0 0 0 ;
    font-size: small;
}

.zoneText > p {
    margin: 0;
    padding: 0;
    font-size: x-small;
}

.trash:hover {
    background-color: orange;
}

.pencil:hover {
    background-color: green;
}

.couv {
    width: 200px;
    height: 200px;
    background-position: center;
    position: absolute;
}

.absolute {
    position: relative;
    top: -69px;
}

.plus:hover {
    background-color: green;
    border-radius: 20px;
}
