/* mise en page des carte albun */

header {
    z-index: 10;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#findNav {
    margin: 20px 0 20px 0;
    height: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#findBar {
    background-color: rgba(128, 128, 128, 0.6);
    box-shadow: 5px 5px 10px 5px black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

#find {
    height: 100%;
    width: 150px;
    background-color: gray;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input > input {
    width: 100%;
    height: 70%;
    text-align: center;
}

#loupe {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loupe > button {
    border-radius: 15px;
    height: 29px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categories {
    height: 29px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px black;
}

#categories > select {
    height: 100%;
    width: 150px;
    border-radius: 20px;
}

#boxForm {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

#boxForm > a {
    height: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.carteMedia {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 5px 5px 10px 10px black;
}

.zone1 {
    height: 100px;
    position: relative;
}

.zoneText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.521);
}

.zoneText > h3 {
    margin: 0;
    font-size: medium;
}

.zoneText > p {
    margin: 0;
    font-size: small;
}

.couv {
    width: 300px;
    height: 300px;
    background-position: center;
    position: absolute;
}


