@font-face {
    font-family: 'Betterworks';
    src: url('/fonts/Betterworks.otf');
}

header {
    z-index: 10;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
}

#boxCarte {
    width: 80%;
    min-height: 680px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carteMedia {
    width: 220px;
    height: 270px;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-image: url(/images/pola.jpg);
}

.box-photo {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: inline-block;
    background-color: gray;
}

.ajout {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    border-radius: 20px;
    transition-duration: 1s;
}

.media {
    border-radius: 20px;
    transition-duration: 1s;
}

.media > img {
    border-radius: 20px;
    transition-duration: 1s;
}

.zone1 {
    height: 66px;
    position: relative;
}

.zoneText {
    position: relative;
    width: 130px;
    height: 66px;
}

.zoneText > a {
    color: rgba(255, 255, 255, 0);
}

.zoneTextManuscrite {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.zoneText > a > h3 {
    margin: 0;
    padding: 18px 0 0 0 ;
    font-size: small;
    color: black;
}

.zoneTextManuscrite > a > h3 {
    margin: 0;
    padding: 0 0 0 0 ;
    font-size: x-small;
    color: black;
}

.zoneText > a > p {
    margin: 0;
    padding: 0;
    font-size: x-small;
    color: black;
}

.zoneTextManuscrite > p {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: 'Betterworks';
    color: black;
}

.zoneBtn {
    width: 200px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.cercleMedia {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition-duration: 1s;
}

.cercleMedia > button {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
}

.cercleMedia > button > img {
    width: 20px;
}

.cercleMedia > img {
    width: 20px;
}

.couv {
    width: 200px;
    height: 200px;
    background-position: center;
    position: absolute;
}

.trash {
    transition-duration: 0.5s;
}

.trash:hover {
    background-color: orange;
    transition-duration: 0.5s;
}

.pencil:hover {
    background-color: green;
    transition-duration: 1s;
}

.plus:hover {
    background-color: gray;
    transition-duration: 1s;
}

.media:hover {
    background-color: green;
    transition-duration: 1s;
}

/* CSS MEDIA SHOW */

#boxCarteMedia {
    width: 80%;
    min-height: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carteMediaPortrait {
    width: 418px;
    height: 570px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 5px 5px 10px 10px black;
}

.carteMediaAdd {
    width: 418px;
    height: 418px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 5px 5px 10px 10px black;
}

.carteMediaPaysage {
    width: 570px;
    height: 418px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 5px 5px 10px 10px black;
}

.couvPortrait {
    width: 418px;
    height: 570px;
    background-position: center;
    position: absolute;
}

.couvAdd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: 0.5s;
}

.couvAdd:hover {
    background-color: gray;
    transition-duration: 0.5s;
}

.couvPaysage {
    width: 570px;
    height: 418px;
    background-position: center;
    position: absolute;
}

.fullZonePortrait {
    width: 418px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    left: 10px;
}

.fullZoneLandcape {
    width: 570px;
    height: 418px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    left: 10px;
}

.pastille {
    position: absolute;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    top: -2px;
    border-radius: 10px;
}

.pastillePaysage {
    position: absolute;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    top: -2px;
    border-radius: 10px;
}

.cercleMediaShow {
    border-top-right-radius: 20px;
}

.cercleMediaShow > img {
    height: 25px;
}

.m-left {
    margin-left: 15px;
    position: relative;
}

.m-right {
    margin-right: 15px;
    position: relative;
}

.compteur {
    position: absolute;
    color: white;
    bottom: -12px;
}

.compteur > p {
    font-size: xx-small;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px;
    border-radius: 50%;
}

.comment {
    left: 20px;
}

.like {
    right: 5px;
}

.invisible {
    display: none;
}
