@font-face {
    font-family: 'Abeezee';
    src: url('/fonts/ABeeZee-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/images/appareil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Abeezee';
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#title {
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    font-family:'Abeezee';
    font-size: large;
    letter-spacing: 2px;
}

header {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 10px 2px rgba(255, 255, 255, 0.4);
    display: flex;
    position: sticky;
    top: -35px;
}

main {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border: solid 1px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 10px 5px white;
    background-color: rgba(128, 128, 128, 0.60);
}

.bb {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
}

.bb > a {
    width: 80%;
    padding: 20px 10px 20px 10px;
    color: black;
    background-color: white;
    border: solid 1px white;
    text-align: center;
    transition-duration: 0.5s;
}

.bb > a:hover {
    background-color: rgba(255, 255, 255, 0.514);
    transition-duration: 0.5s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100px;
    color: white;
}

.logo > div > h1 {
    margin: 0;
}

.logo > div > p {
    font-size: x-small;
}

.lG {
    width: 100px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.connexion {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 15%;
}

.menu {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;
    height: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.menu > a {
    font-size: large;
}

.menu-connexion {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
    height: 100%;
}

.cercle {
    width: 35px;
    height: 32px;
    background-image: url(/images/btn.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-connexion {
    border-bottom:solid 2px gray ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px ;
    margin-bottom: 20px;
}

.active {
    color: black;
    background-color: white;
    padding: 5px 5px 5px 5px;
}

.passive {
    color: white;
    padding: 5px 5px 5px 5px;
    transition-duration: 0.3s;
}

.passive:hover {
    background-color: gray;
    padding: 5px 5px 5px 5px;
    transition-duration: 0.3s;
}

.accroche {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 0 5px 0;
}

main {
    min-height: 700px;
}

.mini {
    height: 60%;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 10px 10px rgba(255, 255, 255, 0.4);
}

.boxLeft {
    width: 10%;
    margin-left: 10px;
    margin-top: 10px;
}

.boxCenter {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.boxRigth {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.boxRigth > div {
    height: 35px;
    border-bottom: solid 2px white;
}

.boxRigth > div > a {
    color: white;
    font-size: small;
}

.line {
    width: 100%;
    border-top: solid 2px white;
    height: 30%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
