{% extends 'base.html.twig' %}

{% block title %}New ForWhy{% endblock %}

{% block body %}
    <h1>Create new ForWhy</h1>

    {{ include('for_why/_form.html.twig') }}

    <a href="{{ path('app_for_why_index') }}">back to list</a>
{% endblock %}
